<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Target</th>
            <th scope="col">Recruited</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <th scope="row"><a href="/dashboard/trial/5a946ff566684905df608446">Compass</a></th>
            <td>100</td>
            <td>19</td>
            <td>2018-02-26</td>
            <td>2018-04-25</td>
        </tr>
    </tbody>
</table>